
      <div class="panel panel-default" data-toggle="collapse" href="#danhmuc">

        <div class="panel-heading" style="cursor: pointer">
          <span class="glyphicon glyphicon-th-list"></span>
          <i class="fa fa-list" style="padding-right: 10px;" aria-hidden="true"></i><strong>Danh
            mục</strong>
        </div>

        <div class="lis-group card-collapses" id="danhmuc">
          <div class="lis-group card-collapses" id="danhmuc">
            <a href="" class="list-group-item" style="color: #333;" *ngFor="let i of categoryList">
              {{i.Name}}
               </a>
        </div>
      </div>
